{% extends 'base.html.twig' %}

{% block body %}


<form action="buy" method="post">
    <input type="submit" name="submit1" value="buy">
    <input type="submit" name="submit2" value="annuler">
</form>



{% endblock %}